:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  padding: 20px;
}

h2 {
  color: rgb(6, 115, 240);
  font-size: 30px;
  font-weight: 600;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-right: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(210, 212, 213);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
header {
  height: 50px;
  background-color: rgb(210, 212, 213);
  display: flex;
  align-items: center;
}

/* MAIN */
main {
  height: 100%;
  width: 100%;
}

/* MOVIESPAGE */
.movies-page {
  max-width: 1250px;
  margin: 20px auto;
}

.movies-page > h3 {
  font-style: italic;
  font-size: 25px;
  margin-bottom: 20px;
}

/* MOVIESLIST */
.movies-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
  gap: 20px;
}

/* MOVIECARD */
.movie-card {
  border: solid 1px rgb(210, 212, 213);
  width: 350px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.movie-img {
  width: 200px;
  height: 280px;
  align-self: center;
}

.movie-card > p {
  font-size: 13px;
}

.movie-card > button {
  width: 110px;
}

/* MOVIE */
.movie-details {
  margin: 20px auto;
  max-width: 1250px;
}

.details {
  display: flex;
  gap: 35px;
}

.details-img {
  min-width: 200px;
  height: 280px;
}

.details h3 {
  font-size: 45px;
  font-weight: 500;
}

.details span {
  font-style: italic;
  color: rgb(147, 147, 147);
  font-weight: 600;
  font-size: 26px;
}

.movie-details > h3 {
  margin: 10px 0 25px 0;
}

.review-card {
  padding: 15px 15px 40px 15px;
  margin-bottom: 20px;
  border: solid 1px rgb(210, 212, 213);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.review-card > h4 {
  margin-bottom: 20px;
}

.review-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 1px rgb(210, 212, 213);
  border-radius: 6px;
  gap: 3px;
}

/* FOOTER */
footer {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: end;
}
